<section id="breadcrumb">
  Home > Ground Data > Countries
</section>

<section id="content">
  <div id="content-header">
    <h3>Countries</h3>
    <button>+</button>
  </div>
  <div>
    <table>
        <tr>
          <th>Country Name</th>
          <th>ISO Alpha-2 Code</th>
          <th>ISO Alpha-3 Code</th>
          <th>ISO Numeric Code</th>
          <th>Status</th>
          <th>Delete button</th>
        </tr>
      <% @countries.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td><%= country.alpha_2_code %></td>
          <td><%= country.alpha_3_code %></td>
          <td><%= country.numeric_code %></td>
          <td><%= check_box "country", "active", { checked: country.status, disabled: true } %></td>
          <td>Delete button</td>
        </tr>
      <% end %>

    </table>
  </div>
  <div>
    <p><%= link_to "Add New Country", new_country_path %></p>
  </div>

  <div>
    <table>
      <tr>
        <form>
          <td><input name="name" type="text" placeholder="Country name"></td>
          <td><input name="alpha_2_code" type="text" placeholder="ISO-2"></td>
          <td><input name="alpha_3_code" type="text" placeholder="ISO-3"></td>
          <td><input name="numeric_code" type="text" placeholder="Numeric code"></td>
          <td>Status</td>
        </form>
      </tr>  
    </table>
  </div>
</section>
