<section id="breadcrumb">
  Home > Ground Data > Countries
</section>

<section id="content">
  <div id="content-header">
    <h2>Countries</h2>
    <div class="create"><i class="far fa-plus-square fa-2x"></i></div>
  </div>
  <div id="content-table">
    <table>
        <tr class="table-header">
          <th>Country Name</th>
          <th>ISO Alpha-2 Code</th>
          <th>ISO Alpha-3 Code</th>
          <th>ISO Numeric Code</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      <% @countries.each do |country| %>
        <tr class="table-content">
          <td class="td-left"><%= country.name %></td>
          <td class="td-center"><%= country.alpha_2_code %></td>
          <td class="td-center"><%= country.alpha_3_code %></td>
          <td class="td-center"><%= country.numeric_code %></td>
          <td class="td-center"><%= check_box "country", "status", { checked: country.status, disabled: true } %></td>
          <td class="td-center update"><i class="fas fa-exchange fa-sm" data-id=<%= country.id %>></i></td>
          <td class="td-center delete"><i class="far fa-trash-alt fa-sm" data-id=<%= country.id %>></i></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="content-footer">
    <div class="create"><i class="far fa-plus-square fa-2x"></i></div>
  </div>
</section>
