<header>
  <nav id="nav-header">
    <ul id="nav-header-menu">
      <li>LOGO</li>
      <li><%= link_to "Dashboard", nav_dashboard_path %></li>
      <li><%= link_to "Demand", nav_demand_path %></li>
      <li><%= link_to "Supply", nav_supply_path %></li>
      <li><%= link_to "Product", nav_product_path %></li>
      <li><%= link_to "Warehouse", nav_warehouse_path %></li>
      <li><%= link_to "Logistics", nav_logistics_path %></li>
      <li><%= link_to "Report", nav_report_path %></li>
      <li><%= link_to "Setting", nav_setting_path %></li>
    </ul>

    <ul id="nav-header-env">
      <li>Name</li>
    </ul>
  </nav>
</header>