<header>
  <nav>
    <ul>
      <li><%= link_to "Dashboard", nav_dashboard_path %></ul>
      <li><%= link_to "Demand", nav_demand_path %></ul>
      <li><%= link_to "Supply", nav_supply_path %></ul>
      <li><%= link_to "Product", nav_product_path %></ul>
      <li><%= link_to "Warehouse", nav_warehouse_path %></ul>
      <li><%= link_to "Logistics", nav_logitics_path %></ul>
      <li><%= link_to "Report", nav_report_path %></ul>
    </ul>
  </nav>
</header>