<!DOCTYPE html>
<html>
  <head>
    <title>Chainos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(controller: "devise/sessions", action: "new") || current_page?(controller: "devise/registrations", action: "new") %>
    <% else %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag params[:controller] %>
  </body>
</html>
